<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor;
    var isJSONValid = true;
    var saving = false;

    $(function(){
        var btn = $('#save');
        btn.click(function() {
            var ok = confirm('Сохранить?');
            if (ok) {
                btn.addClass('disabled');
                btn.text('Сохранение...');

                save();
            }
        });


        editor = ace.edit("editor");
        editor.setTheme("ace/theme/eclipse");

        var session = editor.getSession();
        session.setMode("ace/mode/json");
        session.on("changeAnnotation", function(){
            var annotations = session.getAnnotations();
            isJSONValid = true;

            for (var key in annotations){
                isJSONValid = false;
                break;
            }

            if (!saving) isJSONValid ? btn.removeClass('disabled') : btn.addClass('disabled');
        });

        $('#label_save_success').hide();
        $('#label_save_error').hide();
    });

    function save() {
        var json = editor.getSession().getValue();
        var url = $('#save').val();

        $.ajax({
            type: "POST",
            url: url,
            data: json,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: showSuccess,
            failure: showError
        });
    }

    function showError() {
        $('#label_save_error').show().fadeOut(5000);
        $('#save').removeClass('disabled').text('Сохранить');
    }

    function showSuccess() {
        $('#label_save_success').show().fadeOut(5000);
        $('#save').removeClass('disabled').text('Сохранить');
    }
</script>

<div id="editor"><%= @json %></div>

<div class="btn-group" role="group">
  <button id="save" type="button" class="btn btn-default" value="<%= @post_url %>">
    Сохранить
  </button>
  <span id="label_save_success" class="label label-success pull-right h-margin" role="alert">Сохранено!</span>
  <span id="label_save_error" class="label label-danger pull-right h-margin" role="alert">Ошибка при сохранении</span>
</div>

