<div class="navbar navbar-default">
  <ul class="nav navbar-nav">
      <%= active_link_to 'Словари', '/dict', :wrap_tag => :li%>
      <%= active_link_to 'Начальный стейт', '/state', :wrap_tag => :li %>
  </ul>
</div>

